*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./Imagens/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 80px;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 40%;
    border-radius: 0 20px 20px 0;
    justify-content: center;
    align-items: center;
}

nav a{
    padding: 10px 0;
}

header{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 0;
}

.lados {
    width: 45vw;
    height: 100vh;
    position: relative;
}
.subcaixa {
    background :rgba(0, 0, 0, 0.3);
    display: flex;
    height: 30%;
    margin: 30px 20px;
    border-radius: 30px;
    justify-content: center;
    color: rgb(200,200,200);
    font-size: 25px;
    flex-direction: column;
    text-align: center;
}
#A2 {
    display: flex;
    flex-direction: column;
}
.titulo {
   color: rgb(200,200,200);
    display: flex;
    width: 100%;
      justify-content: center;
    font-size:  40px;
    margin: 60px 0;
}
.subtitulo {
    color: rgb(200,200,200);
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 40px
}
#A1 {
    display: flex;
    justify-content: end;
    flex-direction: column;
}
#A1 img {
    width:  100%;
    height: 80%;
    border-radius: 20px;
    
    
    

}
.lados2 {
    width: 100%;
    height: 48% ;
    position: relative;
    margin: 10px 0;
}

.bg-opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.7707457983193278) 8%, rgba(8,66,115,0.7343312324929971) 36%, rgba(0,212,255,0.3897934173669467) 100%);
    opacity: 0.8;
    z-index: 0;
    border-radius: 20px;
}

.subcaixa2 {
    display: flex;
    height: 50%;
    margin: 30px 60px;
    border-radius: 30px;
    justify-content: center;
    color: rgb(200,200,200);
    font-size: 25px;
    text-align: center;
}
section{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
#telefone{
    width: 80vw;
    flex-direction: column;
}
.subcaixa3 {
    display: flex;
    height: 30%;
    margin: 40px 30px;
    border-radius: 30px;
    justify-content: flex-end;
    color: rgb(200,200,200);
    font-size: 25px;
    align-items: center;
    justify-content: center;
}
#A4 img{
    width:  38%;
    height: 38%;
    margin: -45px;
}
.imagen-pag2{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    align-items: flex-end;
}
#A4{
    display: flex;
}
.texto-pag2{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
    height: 100%;
   
}

.subcaixa2, .imagen-pag2, .texto-pag2, .subtitulo, .subcaixa, .titulo, .lados img{
    position: relative;
    z-index: 2;
}